{% load static %}
{% load app_extras %}
<html>
<head>
    <title>Music Tribe</title>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>

    {% block extrahead %}
    {% endblock %}

    <link rel="stylesheet" href="{%  static 'app/css/musictribe.css' %}">

    <style>
        .Fixed {
            position: fixed;
            bottom: 20px;
            right: -20px;
        }


        aside {
            float: right;
            margin: 0 1.5%;
            width: 30%;
            margin-top: 50px;
            z-index: 1;
        }

        .popup {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

            /* The actual popup (appears on top) */
            .popup .popuptext {
                display: none;
                width: 500px;
                background-color: bisque;
                color: black;
                text-align: center;
                border-radius: 6px;
                padding: 8px 0;
                position: absolute;
                z-index: 1;
                top: 125%;
                left: 50%;
                margin-left: -80px;
            }

                /* Popup arrow */
                .popup .popuptext::after {
                    content: "";
                    position: absolute;
                    bottom: 100%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #555 transparent transparent transparent;
                }

            /* Toggle this class when clicking on the popup container (hide and show the popup) */
            .popup .show {
                display: block;
                -webkit-animation: fadeIn 1s;
                animation: fadeIn 1s
            }

        /* Add animation (fade in the popup) */
        @-webkit-keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    </style>
</head>
<body>
    <div class="page-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'app:index'%}">MusicTribe</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>

                <ul class="navbar-nav ml-auto">
                    {% if user.is_authenticated %}
                    <img class="profile-image" src="/homepage{{request.user.member.profile_pic.url}}" width="35px" height="35px" style="border-radius:50%;"></img>
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'accounts:edit-user' user.member.id%}">Hi {{ user.username }}! </a>
                    </li>

                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin dashboard</a>
                    </li>
                    {% elif request.user|has_group:"admin" %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin dashboard</a>
                    </li>
                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'logout' %}">Logout </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{%url 'login' %}">Login </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:signup' %}">Signup </a>
                    </li>
                    {% endif %}
                </ul>

            </div>
        </nav>

    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron fluid-jumbotron">
                    <div class="container">
                        <h1 class="display-4">MusicTribe</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>
