{%extends 'app/base.html' %}

{% block content %}

<style>
    ul{
        align-self:center;
    }
    li {
        list-style-type: none;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">{{action.name}}</h2><br>
    </div>
</div>
<form method="post" accept-charset="utf-8">
    {% csrf_token %}
    {% include 'includes/bs4_form.html' with form=form %}
    <div class="row">
        <div class="col-md-8 mx-auto">
            <input type="submit" value="{{action.value}}" class="btn btn-primary" />
        </div>
    </div>
</form>
{% endblock content %}
