{% extends 'app/base.html' %}


{% block content %}
<body>
    {% if user.is_staff %}
    <form class="d-flex" method="post" action="{% url 'app:search-users' %}">
        {% csrf_token %}

        <input name="user" class="form-control me-2" type="search" placeholder="Search users" arial-label="Search users">
        <button type="submit">
            Search
        </button>
    </form>
    {% endif %}

    {% if user.is_authenticated%}
    <div class="row">
        <div class="col-md-10">
            <p><a href="{% url 'app:new-tribe' %}">Create new tribe</a></p>
        </div>
    </div>
    {% endif %}


    <div class="row">
        <div class="col-md-10">

        </div>
    </div>
    {% if tribe_list %}
    {% for tribe in tribe_list %}
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-10">
            <h2><a href="{% url 'app:tribe-view' tribe.id %}">{{ tribe.name }}</a></h2>
        </div>
        <div class="date">
            <p class="black" style="margin-left:250px">
                Published: {{ tribe.created_at }}
            </p>
        </div>
    </div>
    <br />
    {% endfor %}
    {% endif %}
</body>
{% endblock %}
