{% extends 'app/base.html' %}


{% block content %}


<div class="row">
    <div class="col-md-10">
        <h1>{{ playlist.name }} </h1>
        <p>{{playlist.description}}</p>
        {% if tribe.chieftain == user  %}
        <div class="col-md-2">
            <p><a href="{% url 'app:update-playlist' playlist.tribe.id playlist.id %}">Update playlist</a></p>
        </div>
        {% elif user.is_staff %}
        <div class="col-md-2">
            <p><a href="{% url 'app:update-playlist' playlist.tribe.id playlist.id %}">Update playlist</a></p>
        </div>
        {%endif%}

        {% if tribe.chieftain == user  %}
        <div class="col-md-2">
            <p><a href="{% url 'app:delete-playlist' playlist.id %}">Delete playlist</a></p>
        </div>
        {% elif user.is_staff %}
        <div class="col-md-2">
            <p><a href="{% url 'app:delete-playlist' playlist.id %}">Delete playlist</a></p>
        </div>
        {%endif%}
    </div>
</div>
<br />
<div>
    {% if user.member in tribe.tribe_members.all  %}
    <p><a href="{% url 'app:create-song' tribe.id playlist.id %}">Create new song</a></p>
    {% elif tribe.chieftain == user %}
    <p><a href="{% url 'app:create-song' tribe.id playlist.id %}">Create new song</a></p>
    {% elif user.is_staff %}
    <p><a href="{% url 'app:create-song' tribe.id playlist.id %}">Create new song</a></p>
    {%endif%}
</div>
{% if user.is_authenticated %}
    {% if user.member in tribe.tribe_members.all  %}
<aside class="Fixed">
    {% include "includes/tribe_chat_form.html" with room_id=room_id tribe=tribe %}
</aside>
    {% endif %}
{% endif %}

{% if songs %}

    {% for song,vote,comments in songs %}
        <div class="row">
            {% include "includes/song_form.html" with song=song vote=vote comments=comments%}
         </div>
        <br>
    {% endfor %}
{% endif %}

    {% block javascript %}
        <script>

            function myFunction(id) {
                var popup = document.getElementById("myPopup" + id);
                    popup.classList.toggle("show");
            }

    </script>
    {% endblock javascript %}
{% endblock %}

