{% extends 'app/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <h1>{{ tribe.name }}</h1>
        {% if tribe.chieftain == user %}
        <div class="col-md-2">
            <p><a href="{% url 'app:update-tribe' tribe.id %}">Update tribe</a></p>
        </div>
        <div class="col-md-10"></div>
        {% elif user.is_staff %}
        <div class="col-md-2">
            <p><a href="{% url 'app:update-tribe' tribe.id %}">Update tribe</a></p>
        </div>
        <div class="col-md-10"></div>
        {%endif%}

        {% if tribe.chieftain == user %}
        <div class="col-md-2">
            <p><a href="{% url 'app:delete-tribe' tribe.id %}">Delete tribe</a></p>
        </div>
        <div class="col-md-10"></div>
        {% elif user.is_staff %}
        <div class="col-md-2">
            <p><a href="{% url 'app:delete-tribe' tribe.id %}">Delete tribe</a></p>
        </div>
        <div class="col-md-10"></div>
        {%endif%}
    </div>
</div>
<br />
<div>
    {% if user.member in tribe.tribe_members.all  %}
    <p><a href="{% url 'app:create-playlist' tribe.id %}">Create new playlist</a></p>
    {% elif tribe.chieftain == user %}
    <p><a href="{% url 'app:create-playlist' tribe.id %}">Create new playlist</a></p>
    {%endif%}
</div>
<br />
{% if user.is_authenticated %}
    {% if user.member in tribe.tribe_members.all  %}
            
    {% else %}
    <div class="row">
        <div class="col-md-10">
            <p><a href="{% url 'app:join-tribe' tribe.id %}">Join tribe</a></p>
        </div>
    </div>
    {% endif %}
{% endif %}

{% if user.is_authenticated %}
    {% if user.member in tribe.tribe_members.all  %}
        <aside class="Fixed">
            {% include "includes/tribe_chat_form.html" with room_id=room_id tribe=tribe %}
        </aside>
    {% elif user.is_staff  %}
         <aside class="Fixed">
            {% include "includes/tribe_chat_form.html" with room_id=room_id tribe=tribe %}
        </aside>
    {% endif %}
{% endif %}

{% if playlists %}
    {% for playlist in playlists %}
<div class="row" style="z-index:-1">
    <div class="col-md-10">
        <div class="date">
            <p class="red">
                Created: {{ playlist.created_at }}
            </p>
        </div>
        <h2><a href="{% url 'app:playlist-view' tribe.id playlist.id %}">{{ playlist.name }}</a></h2>
        <p>{{ playlist.description }}</p>
        {% if tribe.chieftain == user %}
        <p><a href="{% url 'app:update-playlist' tribe.id playlist.id %}">Update playlist</a></p>
        {% elif user.is_staff %}
        <p><a href="{% url 'app:update-playlist' tribe.id playlist.id %}">Update playlist</a></p>
        {%endif%}

        {% if tribe.chieftain == user %}
        <p><a href="{% url 'app:delete-playlist' playlist.id %}">Delete playlist</a></p>
        {% elif user.is_staff %}
        <p><a href="{% url 'app:delete-playlist' playlist.id %}">Delete playlist</a></p>
        {%endif%}
        <hr />
    </div>
    <div class="col-md-2">

    </div>
</div>


    {% endfor %}
{% endif %}



{% endblock %}
