{%extends 'app/base.html' %}

{% block content %}
<div>
	{% if user_list %}
	{%for users in user_list%}
	<a href="{%url 'accounts:edit-user' users.id%}">{{users}}</a>
	<br>
	{%endfor%}
	{%else%}
	<h3> Please enter a username for searching</h3>
	{%endif%}
</div>

{%endblock%}