{% extends 'app/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">Edit account</h2><br>
    </div>
</div>
{% if user.is_staff %}
    <form method="post" enctype="multipart/form-data" accept-charset="utf-8">
        {% csrf_token %}
        {% include 'includes/bs4_form.html' with form=form %}
        <a href="url accounts:update-password"></a>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
{% elif user.member == member%}
    <form method="post" enctype="multipart/form-data" accept-charset="utf-8">
        {% csrf_token %}
        {% include 'includes/bs4_form.html' with form=form %}
        <a href="url accounts:update-password"></a>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </form>
{% endif %}
<div>
    <div>
        {% if user.is_staff %}
        <a href={% url 'accounts:create-admin' member.id %}>Turn into Admin</a>
        {%endif%}
    </div>
    <div>
        {% if user.is_superuser %}
        <a href={% url 'accounts:create-super-admin' member.id %}>Turn into Super Admin</a>
        {%endif%}
    </div>
</div>

    {% endblock %}
