{% block content %}
{% for comment in comments %}
<br>
<div style="border:solid; border-width:thin; border-color:cornflowerblue;">
    <h5>{{comment.member.username}}</h5>
    <p class="red">
        {{ playlist.created_at}}
    </p>
    <div style="border-top:solid;border-bottom:solid; border-width:thin; border-color:cornflowerblue;">
        <p>{{comment.text}}</p>
    </div>
    {%  if user.is_staff %}
    <a href="{%url 'app:update-comment' song.id comment.id %}">Edit</a>
    {%  elif comment.member.user == user %}
    <a href="{%url 'app:update-comment' song.id comment.id %}">Edit</a>
    {%  endif %}

    {%  if user.is_staff %}
    <a href="{%url 'app:delete-comment' song.id comment.id %}">Delete</a>
    {%  elif comment.member.user == user %}
    <a href="{%url 'app:delete-comment' song.id comment.id %}">Delete</a>
    {%  endif %}
</div>
{% endfor %}
{% endblock content %}