{% block content %}
<head>
    <style>
        .commentbox {
            border-style: solid;
            border-color: indianred;
        }
    </style>
</head>
    <div class="col-md-2">
    </div>
    <div class="col-md-10">
        <div>
            {% include "includes/vote_buttons.html" with song=song vote=vote %}
        </div>
        <div class="date">
            <p class="red">
                Created: {{ song.created_at }}
            </p>
        </div>
        <iframe width="420" height="315" src="{{ song.get_url}}"></iframe>
        <h3>Song:   {{song.track_name}}</h3>
        <div style="padding-left:20px; padding-bottom:5px;">
            <p>ARTIST:{{ song.track_artist|linebreaksbr }}</p>
            <p>DURATION:   {{song.duration}}</p>
            {%  if song.member.user == user  %}
            <p><a href="{% url 'app:update-song' playlist.id song.id %}">Update song</a></p>
            <p><a href="{% url 'app:delete-song' song.id %}">Delete song</a></p>
            {% elif user.is_staff %}
            <p><a href="{% url 'app:update-song' playlist.id song.id %}">Update tribe</a></p>
            <p><a href="{% url 'app:delete-song' song.id %}">Delete song</a></p>
            {%  endif   %}
            <div class="popup commentbox" id="{{song.id}}" onclick="myFunction({{song.id}})" style="text-align:center;">
                Comments <br /> {{song.comments.count}}
                <span class="popuptext " id="myPopup{{song.id}}">

                    {% if comments %}
                    {% include "includes/comment_form.html" with comments=comments%}
                    {% endif %}
                    <br>
                    {% if user.is_authenticated %}
                    <a href="{%url 'app:create-comment' song.id %}">Comment</a>
                    <br>
                    {%endif%}
                </span>
            </div>
        </div>
    </div>
<br />
<br />
{% endblock content %}