{% block content %}
<style type="text/css">

    .chat-log {
        height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px;
        background-color: #fff;
        font-size: 0.9em;
        flex-direction: column-reverse;
    }

    .profile-image {
        width: 33px;
        height: 33px;
        margin-top: 0px;
        margin-bottom: auto;
    }

    .timestamp-span {
        font-weight: 400;
        font-size: 0.8em;
        color: var(--secondary-text-color);
    }


    #id_chatroom_loading_spinner {
        position: absolute;
    }


    .connected-users {
        color: red;
    }

    .connected-users-icon {
        color: red;
    }

        .connected-users-icon:hover {
            cursor: default;
        }

</style>

{% if debug %}
TRIBE CHAT
{% endif %}
<span class="{% if not debug %}d-none{% endif %} page-number" id="id_page_number">1</span>

<div class="card ml-3">

	<div class="card-header">
		<div class="d-flex flex-row justify-content-between">
			<h3 class="">{{tribe}} Chat</h3>
			<div class="d-flex flex-row align-items-center">
				<span class="material-icons m-auto pr-1 connected-users-icon" style="display:none;">Connected users:</span>
				<span class="m-auto connected-users"style="display:none;" id="id_connected_users"></span>
			</div>
		</div>
	</div>
	<div class="card-body p-1">
		<div class="d-flex flex-column" id="id_chat_log_container">
			<div class="d-flex flex-row justify-content-center" id="id_chatroom_loading_spinner_container">
				<div class="spinner-border text-primary" id="id_chatroom_loading_spinner" role="status" style="display: none; ">
					<span class="sr-only">Loading...</span>
				</div>
			</div>
			<div class="d-flex chat-log" id="id_chat_log">

			</div>
			<div class="d-flex chat-message-input-container">
				<textarea class="flex-grow-1 chat-message-input" id="id_chat_message_input"></textarea>
				<button class="btn btn-primary chat-message-submit-button">
					<span id="id_chat_message_submit" class="material-icons">
						send
					</span>
				</button>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
		var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
		{% if debug_mode %}
			var ws_path = ws_scheme + '://' + window.location.host + "/homepage/tribe/{{tribe.id}}/"; 
		{% else %}
        var ws_path = ws_scheme + '://' + window.location.host + ":8001/homepage/tribe/{{tribe.id}}/";
		{% endif %}
		var tribe_chat_socket = new WebSocket(ws_path);

				// Handle incoming messages
		tribe_chat_socket.onmessage = function(message) {
			console.log("Got chat websocket message " + message.data);
			var data = JSON.parse(message.data);

            displayChatroomLoadingSpinner(data.display_progress_bar)

            if (data.error) {
                console.error(data.error + ": " + data.message)
                showClientErrorModal(data.message)
                return;
            }

			if (data.join) {
					console.log("Joining tribe room " + data.join);
					getRoomChatMessages()
			}

			// Handle getting a message
			if (data.msg_type == 0) {
					appendChatMessage(data)
			}

            if (data.msg_type == 1) {
                setConnectedUsersCount(data['connected_user_count'])
            }

			if (data.messages_payload) {
				console.log("PAYLOAD")
				handleMessagesPayload(data.messages, data.new_page_number)
			}
			
		};

		tribe_chat_socket.addEventListener("open", function (e) {
            console.log("Tribe ChatSocket OPEN")
            // join chat room
            if ("{{request.user.is_authenticated}}") {
                tribe_chat_socket.send(JSON.stringify({
                    "command": "join",
                    "room": "{{room_id}}"
                }));
            }
        })





		tribe_chat_socket.onclose = function(e) {
			console.error('Tribe ChatSocket closed.');
		};
		tribe_chat_socket.onOpen = function(e){
			console.log("Tribe ChatSocket onOpen", e)
		}
		tribe_chat_socket.onerror = function(e){
	        console.log('Tribe ChatSocket error', e)
	    }
	    if (tribe_chat_socket.readyState == WebSocket.OPEN) {
	    	console.log("Tribe ChatSocket OPEN")
	    } else if (tribe_chat_socket.readyState == WebSocket.CONNECTING){
	        console.log("Tribe ChatSocket connecting..")
	    }

		document.getElementById('id_chat_message_input').focus();
		document.getElementById('id_chat_message_input').onkeyup = function(e) {
			if (e.keyCode === 13 && e.shiftKey) {  // enter + return
				// Handled automatically by textarea
			}
			else if(e.keyCode === 13 && !e.shiftKey){ // enter + !return
				document.getElementById('id_chat_message_submit').click();
			}
		};

	    document.getElementById('id_chat_message_submit').onclick = function(e) {
			const messageInputDom = document.getElementById('id_chat_message_input');
			const message = messageInputDom.value;
			tribe_chat_socket.send(JSON.stringify({
				"command": "send",
                "message": message,
                "room_id": "{{room_id}}"
			}));
			messageInputDom.value = '';
		};

	function appendChatMessage(data,payload) {
		message = data['message']
		uName = data['username']
		user_id = data['user_id']
		profile_image = data['profile_image']
        timestamp = data['natural_timestamp']

		var msg = message + '\n';
		var username = uName + ": "
		var pay = payload
        createChatMessageElement(pay,msg, username, profile_image, user_id, timestamp)
	}

    function handleMessagesPayload(messages, new_page_number) {
        if (messages != null && messages != "undefined" && messages != "None") {
            setPageNumber(new_page_number)
            messages.forEach(function (message) {
                appendChatMessage(message,true, true, false)
            })
        }
        else {
            setPaginationExhausted() // no more messages
        }
    }

    function setPageNumber(pageNumber) {
        document.getElementById("id_page_number").innerHTML = pageNumber
    }

    function setPaginationExhausted() {
        setPageNumber("-1")
    }

    /*
        Retrieve the chat room messages given the page number.
    */
    function getRoomChatMessages() {
        var pageNumber = document.getElementById("id_page_number").innerHTML
        if (pageNumber != "-1") {
            setPageNumber("-1") // Do not allow any other queries while one is in progress
            tribe_chat_socket.send(JSON.stringify({
                "command": "get_room_chat_messages",
                "room_id": "{{room_id}}",
                "page_number": pageNumber,
            }));
        }
    }

    /*
        Get the next page of chat messages when scrolls to bottom
    */
    document.getElementById("id_chat_log").addEventListener("scroll", function (e) {
        var chatLog = document.getElementById("id_chat_log")
        chatLog.addEventListener("scroll", function (e) {
            if ((Math.abs(chatLog.scrollTop) + 2) >= (chatLog.scrollHeight - chatLog.offsetHeight)) {
                getRoomChatMessages()
            }
        });
    })

	function createChatMessageElement(payload,msg, username, profile_image, user_id, timestamp) {
		var chatLog = document.getElementById("id_chat_log")

		var newMessageDiv = document.createElement("div")
		newMessageDiv.classList.add("d-flex")
		newMessageDiv.classList.add("flex-row")

		var profileImage = document.createElement("img")
		profileImage.classList.add("profile-image")
		profileImage.classList.add("rounded-circle")
		profileImage.classList.add("img-fluid")
		profileImage.src = profile_image
		newMessageDiv.appendChild(profileImage)

		var div1 = document.createElement("div")
		div1.classList.add("d-flex")
		div1.classList.add("flex-column")

		var div2 = document.createElement("div")
		div2.classList.add("d-flex")
		div2.classList.add("flex-row")

		var usernameSpan = document.createElement("span")
		usernameSpan.innerHTML = username
		div2.appendChild(usernameSpan)

        var timestampSpan = document.createElement("span")
        timestampSpan.innerHTML = timestamp
        timestampSpan.classList.add("timestamp-span")
        timestampSpan.classList.add("d-flex")
        timestampSpan.classList.add("align-items-center")
        timestampSpan.addEventListener("click", function (e) {
            selectUser(user_id)
        })
        div2.appendChild(timestampSpan)

		div1.appendChild(div2)

		var msgP = document.createElement("p")
		msgP.innerHTML = msg
		msgP.classList.add("msg-p")
		div1.appendChild(msgP)

		newMessageDiv.appendChild(div1)

		if (payload) {
			chatLog.insertBefore(newMessageDiv, chatLog.lastchild)
		} else (
			chatLog.insertBefore(newMessageDiv, chatLog.firstChild.nextSibling)
			)
	}

    function showClientErrorModal(message) {
        document.getElementById("id_client_error_modal_body").innerHTML = message
        document.getElementById("id_trigger_client_error_modal").click()
    }

    function displayChatroomLoadingSpinner(isDisplayed) {
        var spinner = document.getElementById("id_chatroom_loading_spinner")
		if (isDisplayed) {
			spinner.style.display = "block"
        }
        else {
            spinner.style.display = "none"
        }
	}

    function setConnectedUsersCount(count) {
        element = document.getElementById("id_connected_users")
        element.innerHTML = count
    }
</script>

<button type="button" id="id_trigger_client_error_modal" class="d-none btn btn-primary" data-toggle="modal" data-target="#id_client_error_modal">
</button>
<div class="modal fade" id="id_client_error_modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Socket Client Error</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p id="id_client_error_modal_body">Something went wrong.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" id="id_client_error_modal_close_btn">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- Client Error MODAL -->
{% endblock content %}