{% block content %}
<div>
    <form action="{% url 'app:upvote' song.id %}"
          method="post"
          role="form"
          class="form-inline float-left">
        {% csrf_token %}
        <input type="submit" value="Upvote" class="btn {{vote.upvote|yesno:'btn-success,'}}" />
    </form>

    <span class="vote-score float-left">{{ song.vote_score}}</span>
</div>
{% endblock content %}
