.content p.red {
    color: red;
}

.app-fit {
    height: auto;
    width: 100%;
    border: 1px solid black;
}

.comment {
    padding: 5px;
}

.jumbotron {
    color: lightblue;
    background-image: url("https://previews.123rf.com/images/katyau/katyau1507/katyau150700149/42648306-figures-of-african-dancers-people-silhouette-set-primitive-art-vector-illustration-.jpg");
    background-position:top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
}



